<template>
<suspense timeout="0">
  <MainScreen />
  </suspense>
</template>

<script>
import { defineComponent } from 'vue';

// Components
import MainScreen from '../components/MainScreen.vue';

export default defineComponent({
  name: 'MainScreenView',

  components: {
    MainScreen,
  },
});
</script>
