<template>
    <v-table>
        <thead>
        <tr>
            <th class="text-left">Fist Name</th>
            <th class="text-left">Last Name</th>
            <th class="text-left">Address</th>
            <th class="text-left">SSN</th>
        </tr>
        </thead>
        <tbody>
        <tr
            v-for="item in members"
            :key="item.id"
        >
            <td>{{ (item.firstName) }} </td>
            <td>{{ item.lastName }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.ssn }} </td>
        </tr>
        </tbody>
    </v-table>
</template>

<script setup>

  import { useData } from '../composables/useData';

  const { members } = useData();

</script>