<template>
  
  <!-- HEADER-->  
    <v-app-bar
      color="green"
      prominent
    >

      <v-row>
        <v-col cols="6" sm="6" md="6">
          <p align="center">Home</p>
        </v-col>
        <v-col cols="6" sm="6" md="6">
          <p align="center">Other page</p>
        </v-col>
      </v-row>
    </v-app-bar>
  <!-- HEADER-->  


  <!-- Warning Message-->  
  <v-alert :type="typeMessageResultEndPoint" v-show="messageResultEndPoint != null">{{ messageResultEndPoint }}</v-alert>

  <!-- Content-->  
    <v-row>
        <v-col cols="1" sm="1" md="1"></v-col>
        <v-col cols="5" sm="5" md="5">
              <suspense timeout="0">
                  <SendMember />
              </suspense>
        </v-col>
        <v-col cols="4" sm="5" md="5">
          <v-container>
              <suspense timeout="0">
                  <ListMembers />
              </suspense>
          </v-container>
        </v-col>
        <v-col cols="1" sm="1" md="1"></v-col>
    </v-row>
    <router-view/>
  <!-- Content-->  
  

  <!-- Footer -->  
    <v-footer class="d-flex flex-column">
      <div class="px-4 py-2 bg-blue text-white text-center w-100 " color="teal darken-3">
      <v-row>
        <v-col cols="6" sm="6" md="6">
          <p align="left">Copyright</p>
        </v-col>
        <v-col cols="6" sm="6" md="6">
          <p align="right">All rights reserved</p>
        </v-col>
      </v-row>
      </div>
    </v-footer>
  <!-- Footer -->  
      
</template>


<script setup>
  import { ref, defineComponent } from "vue";
  import axios from "axios";
  import { useData } from '../composables/useData';

  // import Components
  import SendMember from './SendMember.vue';
  import ListMembers from '../components/ListMembers.vue';

  const { ENDPOINT_PATH_API, token, headersAxios, setearToken } = useData();
  let messageResultEndPoint = ref(null);
  let typeMessageResultEndPoint = ref(null)


  //get token auth
  let json = JSON.stringify({ 
      username: 'sarah',
      password: 'connor'
  });

  await axios.post(ENDPOINT_PATH_API.value + "auth", json, {headers: headersAxios.value[0]})
    .then(function (response) {
        setearToken(response['data']['token'])
    })
    .catch(function (error) {
        messageResultEndPoint.value = error;
        typeMessageResultEndPoint.value = 'warning'
    })

</script>