<template>

    <v-card>
        <v-card-text>
            <v-form
                ref="formMembers"
                v-model="validMember"
                lazy-validation
            >
                <v-text-field
                    v-model="firstName"
                    :rules="firstNameRules"
                    maxlength="80"
                    counter="80"
                    label="First Name"
                ></v-text-field>    
                <v-text-field
                    v-model="lastName"
                    :rules="lastNameRules"
                    maxlength="80"
                    counter="80"
                    label="Last Name"
                ></v-text-field>  
                <v-text-field
                    v-model="address"
                    :rules="addressRules"
                    maxlength="80"
                    counter="80"
                    label="Address"
                ></v-text-field>   
                <v-text-field
                    v-model="ssn"
                    :rules="ssnRules"
                    maxlength="80"
                    counter="80"
                    label="SSN"
                ></v-text-field>      
            </v-form>
        </v-card-text>

        <v-card-actions>
            <v-btn
                color="black"
                @click="reset"
            >
                <v-icon
                start
                icon="mdi-content-save"
                ></v-icon>
                Reset  
            </v-btn>

            <v-btn
                :color="validMember ? 'primary' : 'grey'"
                @click="validate"
                :disabled="!validMember"
            >
                <v-icon
                start
                icon="mdi-content-save"
                ></v-icon>
                Save
            </v-btn>
        </v-card-actions>

    </v-card>
    <hr  v-show="messageResultEndPoint != null" />   
    <v-alert :type="typeMessageResultEndPoint" v-show="messageResultEndPoint != null">{{ messageResultEndPoint }}</v-alert>

</template>

<script setup>
  import { ref, onMounted } from "vue";
  import axios from "axios";
  import { useData } from '../composables/useData';

  const { ENDPOINT_PATH_API, token, headersAxios, addMember, members } = useData();
  
  //Variables operativas
  const formMembers = ref(null) 
  let messageResultEndPoint = ref(null);
  let typeMessageResultEndPoint = ref(null)
  let member = ref(null)
  let firstName = ref(null)
  let lastName = ref(null)
  let address = ref(null)
  let ssn = ref(null)
  let bodyRespuestaPost = ref(null)
  let rechargeInterval = ref(null)


  //Rules de validacion
  const firstNameRules = [
    v => !!v || 'First Name is required',
    v => (v && v.trim().length >= 2) || 'First Name must be less than 2 characters',
  ];
  const lastNameRules = [
    v => !!v || 'Last Name is required',
    v => (v && v.trim().length >= 2) || 'Last Name must be less than 2 characters',
  ];
  const addressRules = [
    v => !!v || 'Address is required',
    v => (v && v.trim().length >= 2) || 'Address must be less than 2 characters',
  ];
  const ssnRules = [
    v => !!v || 'First Name is required',
    v => /^(\d{3}-?\d{2}-?\d{4}|XXX-XX-XXXX)$/.test(v) || "SSN must be valid"
  ];
  
  //Envio el Formulario
  async function sendFormMember() {
    
    //construyo el json a enviar a laravel
    let json = JSON.stringify({ 
      firstName: firstName.value.trim(),
      lastName: lastName.value.trim(),
      address: address.value.trim(),
      ssn: ssn.value
    });
    
    //Envio los datos al endpoint /members
    bodyRespuestaPost.value = await axios.post(ENDPOINT_PATH_API.value + "api/members", json, {headers: headersAxios.value[0]})
        .then(function (response) {
            messageResultEndPoint.value = 'Member added'
            typeMessageResultEndPoint.value = 'success'
            addMember(response.data)
        })
        .catch(function (error) {
            if (error.response.data.code == 'BadRequest') {
                messageResultEndPoint.value = error.response.data.message
                typeMessageResultEndPoint.value = 'warning'
            }
            else {
                messageResultEndPoint.value = error;
                typeMessageResultEndPoint.value = 'warning'
            }
        })

    hideMessageBefore()
  }

  function hideMessageBefore() {
    setTimeout(() => {
      messageResultEndPoint.value = null
    }, 3 * 1000)

  }
  
  //Traigo members
  async function getMembers() {
    members.value = []   
    await axios.get(ENDPOINT_PATH_API.value + "api/members", {headers: headersAxios.value[0]})
      .then(function (response) {
          console.log('refresh list members')
          members.value =  response.data
      })
      .catch(function (error) {
          messageResultEndPoint.value = error;
          typeMessageResultEndPoint.value = 'warning'
      })
  }

  //onMounted Traigo members y comienzo el contador de inactividad 
  onMounted(() => {
    getMembers()
    rechargeInterval.value = setInterval(getMembers, 120 * 1000);
  })

  //Reinicio el contador de inactividad
  function resetReloadGetMembers() {
    clearInterval(rechargeInterval.value);
    rechargeInterval.value = setInterval(getMembers, 120 * 1000);    
  }

</script>


<script>
  // Validación de Formulario
  export default {
    data: () => ({
      validMember: true
    }),

    methods: {
      async validate () {
        this.resetReloadGetMembers()
        await this.$refs.formMembers.validate()
        if (this.validMember) {
            this.sendFormMember()
        }
        
      },
      reset () {
        this.$refs.formMembers.reset()
        this.resetReloadGetMembers()
      },
    }
  }
</script>